.about-us {
	background-color: #f1e4e6;
	margin-bottom: 35px;

	&__wrapper {
		position: relative;
		height: 764px;

		@media (width < 1280px) {
			height: 500px;
		}

		@media (width <=768px) {
			height: 368px;
		}

		@media (width <=620px) {
			height: 363px;
		}
	}

	&__image {
		position: absolute;
		left: -20%;

		@media (width < 1280px) {
			width: 524px;
			height: 500px;
			left: -10%;
		}

		@media (width <=768px) {
			width: 368px;
			height: 368px;
			left: 0%;
		}

		@media (width <=620px) {
			display: none;
		}
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		left: 60%;
		line-height: 1.2;

		@media (width < 1280px) {
			left: 70%;
		}

		@media (width <=768px) {
			left: 75%;
		}

		@media (width <=620px) {
			left: 55%;
		}

		h1 {
			position: relative;
			margin: 0;
			min-width: 370px;

			@media (width <=768px) {
				min-width: 300px;
			}

			@media (width <=768px) {
				min-width: 280px;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 2px;
			left: -28px;
			width: 12px;
			height: 92px;
			background-color: #F16D7F;
		}
	}
}