@charset "UTF-8";
.header {
  position: relative;
  z-index: 2;
  background-color: #000000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.header__menu-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
@media (width < 480px) {
  .header__menu-list > :nth-last-child(-n+2) {
    display: none;
  }
}
.header__menu-list--gap40 {
  gap: 40px;
}
.header__menu-item {
  position: relative;
}
.header__menu-item--modal {
  cursor: pointer;
}
.header__menu-item--cart::after {
  content: attr(data-counter);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #ffffff;
  font-size: 12px;
  right: -10px;
  top: -10px;
  width: 19px;
  height: 19px;
  border-radius: 100%;
  background-color: #f16d7f;
}

.modal {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 232px;
  height: 764px;
  top: 75px;
  right: 0;
  padding: 33px 37px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.modal__title {
  font-weight: 600;
}
.modal__menu-list {
  margin: 24px 0 12px 0;
}
.modal__menu-item {
  text-decoration: none;
  color: #6F6E6E;
  padding-left: 22px;
  transition-duration: 0.2s;
}
.modal__menu-item--title {
  padding-left: 0;
  color: #f16d7f;
  text-decoration: none;
}
.modal__menu-item:hover {
  color: #f16d7f;
}
.modal__close {
  position: absolute;
  content: "";
  background: no-repeat center url("./../images/icons/modal-close.svg");
  cursor: pointer;
  padding: 20px;
  width: 20px;
  height: 20px;
  top: 24px;
  right: 16px;
  transition-duration: 0.2s;
}
.modal__close:hover {
  transform: scale(1.3);
}
.modal--active {
  display: block;
}

.card__content {
  padding: 25px 16px 20px 16px;
  height: 161px;
  line-height: 1.25;
}
.card__image-wrapper {
  position: relative;
  cursor: pointer;
}
.card__image-wrapper:hover .card__image {
  transition-duration: 0.5s;
  filter: brightness(50%);
}
.card__image-wrapper:hover .card__add {
  opacity: 1;
}
.card__add {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  width: 140px;
  height: 44px;
  border: 1px solid #ffffff;
  padding-left: 30px;
  opacity: 0;
  transition-duration: 0.1s;
}
.card__add::before {
  content: "";
  position: absolute;
  left: 10px;
  display: block;
  background-image: url(.././images/icons/cart.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 26px;
  height: 24px;
}
.card__title {
  font-size: 13px;
  margin-bottom: 13px;
}
.card__description {
  font-size: 14px;
  font-weight: 300;
  color: #5d5d5d;
  margin-bottom: 18px;
}
.card__price {
  font-size: 16px;
}

.catalog {
  height: 148px;
  background-color: #F8F3F4;
}
.catalog-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 600px) {
  .catalog-header__wrapper {
    flex-direction: column;
    gap: 32px;
  }
}
.catalog-header__left-item {
  font-weight: 400;
  font-size: 24px;
  color: #f16d7f;
}
.catalog-header__right-item {
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}
.catalog-header__right-item a {
  color: inherit;
  text-decoration: none;
}
.catalog-header__right-item span {
  font-weight: 400;
  color: #f16d7f;
}

.feedback {
  background-image: url("./../images/form-bg.webp");
  background-size: cover;
}
@media (width <= 1600px) {
  .feedback {
    background-image: url("./../images/form-bg-1600.webp");
  }
}
@media (width <= 1280px) {
  .feedback {
    background-position: -200px;
  }
}
@media (width <= 768px) {
  .feedback {
    background-position: -500px;
  }
}
.feedback__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 448px;
  gap: 300px;
}
@media (width < 1280px) {
  .feedback__body {
    flex-direction: column;
    height: 614px;
    gap: 48px;
  }
}
.feedback__review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 360px;
}
.feedback__message {
  font-style: italic;
  font-size: 20px;
  text-align: center;
  color: #222224;
}
@media (width <= 768px) {
  .feedback__message {
    font-size: 18px;
  }
}
.feedback__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feedback__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  text-align: center;
  color: #222224;
}
.feedback__description {
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}
@media (width <= 768px) {
  .feedback__description {
    font-size: 14px;
  }
}

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
}
.form__input {
  outline: none;
  border: none;
  width: 256px;
  height: 49px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background-color: #E1E1E1;
  padding: 7px 22px;
}
.form__input--error {
  box-shadow: inset 0 0 10px 0 rgba(255, 0, 0, 0.5);
}
@media (width <= 768px) {
  .form__input {
    width: 245px;
  }
}
.form__button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 49px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #F16D7F;
  padding: 7px 22px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
@media (width <= 768px) {
  .form__button {
    width: 90px;
    padding-left: 18px;
  }
}

.text {
  font-size: 32px;
}
.text--big {
  font-size: 48px;
  font-weight: 900;
}
@media (width <= 768px) {
  .text--big {
    font-size: 44px;
  }
}
.text--pink {
  color: #F16D7F;
}
.text--lg {
  font-size: 32px;
}
@media (width <= 768px) {
  .text--lg {
    font-size: 24px;
  }
}
.text--bold {
  font-weight: 700;
}

.footer {
  background-color: #222224;
}
.footer__body {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 480px) {
  .footer__body {
    flex-direction: column-reverse;
    justify-content: center;
    height: 143px;
  }
}
.footer__copyright {
  color: #ffffff;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
@media (width <= 480px) {
  .footer__list {
    margin-top: 43px;
    margin-bottom: 40px;
  }
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  transition-duration: 0.3s;
}
.footer__link:hover {
  background-color: #F16D7F;
}
.footer__link:hover svg * {
  transition-duration: 0.3s;
  fill: #ffffff;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  --container-width: 1140px;
  --container-padding-x: 38px;
  max-width: 1216px;
  margin-inline: auto;
  padding-inline: 38px;
}
@media (width < 480px) {
  .container--header {
    padding: 0 16px;
  }
}
@media (width < 1280px) {
  .container {
    padding-inline: 16px;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #000000;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.about-us {
  background-color: #f1e4e6;
  margin-bottom: 35px;
}
.about-us__wrapper {
  position: relative;
  height: 764px;
}
@media (width < 1280px) {
  .about-us__wrapper {
    height: 500px;
  }
}
@media (width <= 768px) {
  .about-us__wrapper {
    height: 368px;
  }
}
@media (width <= 620px) {
  .about-us__wrapper {
    height: 363px;
  }
}
.about-us__image {
  position: absolute;
  left: -20%;
}
@media (width < 1280px) {
  .about-us__image {
    width: 524px;
    height: 500px;
    left: -10%;
  }
}
@media (width <= 768px) {
  .about-us__image {
    width: 368px;
    height: 368px;
    left: 0%;
  }
}
@media (width <= 620px) {
  .about-us__image {
    display: none;
  }
}
.about-us__title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  left: 60%;
  line-height: 1.2;
}
@media (width < 1280px) {
  .about-us__title {
    left: 70%;
  }
}
@media (width <= 768px) {
  .about-us__title {
    left: 75%;
  }
}
@media (width <= 620px) {
  .about-us__title {
    left: 55%;
  }
}
.about-us__title h1 {
  position: relative;
  margin: 0;
  min-width: 370px;
}
@media (width <= 768px) {
  .about-us__title h1 {
    min-width: 300px;
  }
}
@media (width <= 768px) {
  .about-us__title h1 {
    min-width: 280px;
  }
}
.about-us__title::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -28px;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
}

.advantages {
  background-color: #222224;
}
.advantages__body {
  padding-block: 104px;
  margin-top: 35px;
}
.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (width < 1280px) {
  .advantages__list {
    gap: 60px;
  }
}
.advantages__image {
  margin-bottom: 28px;
}
.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 134px;
}
.advantages__title {
  font-weight: 400;
  font-size: 19px;
  color: #fbfbfb;
  margin-bottom: 16px;
}
.advantages__description {
  font-weight: 300;
  font-size: 13px;
  color: #fbfbfb;
  text-align: center;
}

.catalog-items__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35px;
}
@media (width < 1280px) {
  .catalog-items__body {
    padding: 16px;
  }
}
.catalog-items__title {
  font-size: 30px;
}
.catalog-items__description {
  font-size: 14px;
  color: #9F9F9F;
  margin-bottom: 48px;
}
.catalog-items__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}
@media (width < 1280px) {
  .catalog-items__cards {
    gap: 16px;
  }
}
.catalog-items__card {
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
}
.catalog-items__button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 212px;
  height: 48px;
  border: 1px solid #F16D7F;
  color: #F26376;
  font-size: 16px;
  transition-duration: 0.2s;
}
.catalog-items__button:hover {
  background-color: #F26376;
  color: #ffffff;
}
.catalog-items__button-catalog {
  color: #F26376;
  text-decoration: none;
}
.catalog-items__button-page {
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
}
.catalog-items__button-page .arrow,
.catalog-items__button-page .page,
.catalog-items__button-page .dots {
  margin: 0 5px;
  font-size: 18px;
  color: #b0b0b0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.catalog-items__button-page .arrow.active,
.catalog-items__button-page .page.active,
.catalog-items__button-page .dots.active {
  color: #ff4d4d;
}
.catalog-items__button-page .arrow {
  font-weight: bold;
  color: #000;
}

.offers__body {
  padding-block: 35px;
}
.offers__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media (width < 1280px) {
  .offers__cards {
    gap: 20px;
  }
}
.offers__cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
@media (width < 1280px) {
  .offers__cards-wrapper {
    gap: 20px;
  }
}
@media (width < 768px) {
  .offers__cards-wrapper {
    flex-direction: column;
  }
}
.offers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 360px;
  height: 260px;
  color: #ffffff;
}
.offers__item--1 {
  background-image: url("../images/offers-1.webp");
  background-repeat: no-repeat;
}
.offers__item--2 {
  background-image: url("../images/offers-2.webp");
  background-repeat: no-repeat;
}
.offers__item--3 {
  background-image: url("../images/offers-3.webp");
  background-repeat: no-repeat;
}
@media (width < 1280px) {
  .offers__item--1, .offers__item--2, .offers__item--3 {
    width: 232px;
    height: 168px;
  }
}
@media (width < 768px) {
  .offers__item--1, .offers__item--2, .offers__item--3 {
    width: 343px;
    height: 247px;
  }
}
.offers__item--full {
  width: 100%;
  height: 180px;
  background-image: url("../images/offers-4.webp");
  background-repeat: no-repeat;
}
@media (width < 1280px) {
  .offers__item--full {
    width: 736px;
    height: 116px;
  }
}
@media (width < 768px) {
  .offers__item--full {
    width: 343px;
    height: 111px;
  }
}

.catalog {
  height: 148px;
  background-color: #F8F3F4;
}
.catalog-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 600px) {
  .catalog-header__wrapper {
    flex-direction: column;
    gap: 32px;
  }
}
.catalog-header__left-item {
  font-weight: 400;
  font-size: 24px;
  color: #f16d7f;
}
.catalog-header__right-item {
  font-weight: 300;
  font-size: 14px;
  color: #636363;
}
.catalog-header__right-item a {
  color: inherit;
  text-decoration: none;
}
.catalog-header__right-item span {
  font-weight: 400;
  color: #f16d7f;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 10px 18px;
  position: relative;
}
.menu__item--spec {
  width: 100px;
}
@media (width <= 768px) {
  .menu__item--spec {
    display: none;
  }
}
@media (width <= 768px) {
  .menu {
    height: 70px;
    padding: 10px 0;
  }
}
@media (width <= 600px) {
  .menu {
    gap: 10px;
    padding: 10px 0;
  }
}
.menu__center {
  color: #6F6E6E;
}
.menu__left-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.menu__left-item span {
  margin-right: 5px;
}
@media (width <= 600px) {
  .menu__left-item span {
    display: none;
  }
}
.menu__left-item--left {
  justify-content: start;
  color: #EF5B70;
  margin-bottom: 16px;
}
.menu__filter {
  position: relative;
  display: flex;
  align-items: start;
}
@media (width <= 600px) {
  .menu__filter-icon {
    width: 37px;
    height: 25px;
  }
}
.menu__filter:hover .menu__filter-dropdown {
  display: block;
}
.menu__filter-dropdown {
  display: none;
  position: absolute;
  top: -19%;
  left: -21.5%;
  background: #fff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  padding: 15px;
  z-index: 100;
  width: 361px;
}
@media (width <= 768px) {
  .menu__filter-dropdown {
    left: 0%;
  }
}
.menu__dropdown-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #6F6E6E;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 10px;
  height: 47px;
  margin-bottom: 24px;
}
.menu__dropdown-title--active {
  color: #EF5B70;
}
.menu__dropdown-section {
  margin-bottom: 15px;
  cursor: pointer;
}
.menu__dropdown-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu__dropdown-section ul li {
  font-size: 14px;
  color: #6F6E6E;
  margin-bottom: 8px;
  padding-left: 24px;
}
.menu__center {
  display: flex;
  gap: 23px;
}
.menu__center .menu__item {
  position: relative;
  cursor: pointer;
}
.menu__center .menu__item span {
  padding: 10px 20px;
}
@media (width <= 600px) {
  .menu__center .menu__item span {
    font-size: 12px;
    padding: 0 10px;
  }
}
.menu__center .menu__item span::after {
  position: absolute;
  top: 12%;
  content: "";
  width: 10px;
  height: 5px;
  background: url(../images/icons/Vector.svg);
  margin-left: 10px;
}
@media (width <= 768px) {
  .menu__center .menu__item span::after {
    top: 20%;
  }
}
@media (width <= 600px) {
  .menu__center .menu__item span::after {
    top: 20%;
  }
}
.menu__center .menu__item:hover .menu__dropdown {
  display: block;
}
.menu__center .menu__item .menu__dropdown {
  display: none;
  position: absolute;
  top: 30%;
  left: 10%;
  background: #fff;
  box-shadow: 6px 4px 35px 0 rgba(0, 0, 0, 0.21);
  padding: 10px;
  z-index: 100;
  width: 100px;
}
.menu__center .menu__item .menu__dropdown label {
  display: block;
  margin-bottom: 5px;
}
@media (width <= 768px) {
  .menu__center .menu__item .menu__dropdown {
    top: 50%;
  }
}

.cart__body {
  padding: 96px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  flex-direction: column;
}
@media (width <= 800px) {
  .cart__body {
    padding: 40px 0;
  }
}
.cart__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 128px;
}
@media (width <= 1200px) {
  .cart__wrapper {
    flex-wrap: wrap;
    gap: 64px;
  }
}
.cart-items {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 652px;
  height: 306px;
  box-shadow: 14px 14px 10px 0 rgba(0, 0, 0, 0.1);
}
@media (width <= 800px) {
  .cart-items {
    width: 358px;
    height: 188px;
  }
}
.cart-items svg {
  position: absolute;
  width: 58px;
  height: 58px;
  top: 10px;
  right: 22px;
  cursor: pointer;
  padding: 20px;
}
@media (width <= 800px) {
  .cart-items svg {
    padding: 0;
    width: 18px;
    height: 18px;
    top: 20px;
  }
}
.cart-items svg path {
  fill: #575757;
}
.cart-items__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.cart-items__image {
  width: 262px;
  height: 306px;
}
@media (width <= 800px) {
  .cart-items__image {
    width: 143px;
    height: 188px;
  }
}
.cart-items__title {
  font-size: 24px;
  font-weight: 400;
}
@media (width <= 800px) {
  .cart-items__title {
    font-size: 16px;
  }
}
.cart-items__info {
  font-size: 22px;
  color: #575757;
}
@media (width <= 800px) {
  .cart-items__info {
    font-size: 14px;
  }
}
.cart-items__info p:not(.cart-items__price) span {
  color: #6F6E6E;
}
.cart-items__info p span {
  color: #EF5B70;
}
.cart-items__info p.cart-items__quantity span {
  font-size: 18px;
  margin-left: 24px;
  padding: 2px 10px;
  border: 1px solid #EAEAEA;
}
@media (width <= 800px) {
  .cart-items__info p.cart-items__quantity span {
    font-size: 10px;
  }
}
.cart__content {
  display: flex;
  position: relative;
  justify-content: start;
  flex-direction: column;
  padding: 22px 97px 62px 31px;
  gap: 42px;
}
@media (width <= 800px) {
  .cart__content {
    padding: 12px 0 52px 11px;
    gap: 20px;
  }
}
.cart__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 57px;
}
@media (width <= 1200px) {
  .cart__buy {
    flex-direction: row;
    gap: 10px;
  }
}
@media (width <= 800px) {
  .cart__buy {
    flex-direction: column;
    gap: 48px;
  }
}
.cart__buy-title {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  margin: 17px 0 20px 0;
}
.cart__buy-info form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.cart__buy-info input {
  width: 360px;
  height: 45px;
  padding: 13px 17px 16px 17px;
  border: 1px solid #A4A4A4;
  font-size: 13px;
  color: #222;
  outline: none;
}
.cart__buy-get {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 102px;
  height: 35px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 11px;
  color: #4a4a4a;
  padding: 5px 10px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.cart__buy-get:hover {
  color: #ffffff;
  background-color: #F16D7F;
}
.cart__buy-check {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  padding: 42px;
  gap: 39px;
}
.cart__buy-check-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: end;
  flex-direction: column;
  gap: 12px;
}
.cart__buy-check-wrapper * {
  fill: #E2E2E2 !important;
}
.cart__buy-check-1 {
  font-size: 11px;
  color: #4a4a4a;
}
.cart__buy-check-1 span {
  margin-left: 20px;
}
.cart__buy-check-2 {
  font-size: 16px;
  color: #222;
}
.cart__buy-check-2 span {
  margin-left: 20px;
  font-weight: 700;
  color: #f16d7f;
}
.cart__buy-submit {
  padding: 0;
  background-color: transparent;
  border: none;
  margin-top: 17px;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #f16d7f;
  transition-duration: 0.2s;
}
.cart__buy-submit:hover {
  background-color: transparent;
  color: #F16D7F;
  border-color: #ccc;
}
.cart__contclear {
  display: flex;
  gap: 186px;
  margin-top: 72px;
}
@media (width <= 1200px) {
  .cart__contclear {
    gap: 40px;
    margin-top: 62px;
  }
}
@media (width <= 800px) {
  .cart__contclear {
    flex-direction: row;
    margin-top: 0;
    gap: 10px;
  }
}
.cart__contclear button {
  padding: 0;
  background-color: transparent;
  border: none;
  padding: 10px 10px;
  width: 235px;
  height: 50px;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  transition-duration: 0.2s;
}
@media (width <= 800px) {
  .cart__contclear button {
    width: 175px;
    height: 33px;
    font-weight: 400;
    font-size: 12px;
    color: #575757;
  }
}
.cart__contclear button:hover {
  color: #ffffff;
  background-color: #F16D7F;
}/*# sourceMappingURL=styles.css.map */